
<div>
    <div class="title-h1">
<p>Choose your Movie</p><br>
    </div>
    
    <div class="menu-movi">
<a href="/">Home</a>
    </div>
        
{{#each response}}
    <div class="movie-ima">
        <div>
    <img src="{{image}}" alt="movie" width="350px" height="350px">    
    <h4>{{title}}</h4>
    <h3><a href="/movies/{{this.id}}">See more</a></h3><br>
        </div>
    </div>
{{/each}}

</div>